/* app css stylesheet */
@import "atomic/atomic";
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
  padding-top: 20px;
}

h1 {
  border-bottom: 1px solid gray;
}

h1 { font: 500 normal 3em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
h3 { font: normal normal 2em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0;border-bottom: 1px solid #ddd; }

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
  padding:0;
  li {
    clear: both;
    height: 185px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 25px;
  }
  p {
    font-size: 1.2em;
    padding: 10px;
  }

}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
  &:first-child {
    display: block;
  }
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
  li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
  }
  img {
    height: 100px;
    width: 100px;
    padding: 1em;
  }
  img:hover {
    cursor: pointer;
  }
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    & > span{
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  dt {
    font-weight: bold;
  }
}